AxisServerDemo/WebContent/wsdl/Waiter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://server.wisers.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://server.wisers.com" xmlns:intf="http://server.wisers.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://server.wisers.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sayHello">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayNo">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayNoResponse">
    <complexType>
     <sequence>
      <element name="sayNoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="eat">
    <complexType>
     <sequence>
      <element name="food" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="eatResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayHelloResponse">

      <wsdl:part element="impl:sayHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayNoRequest">

      <wsdl:part element="impl:sayNo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloRequest">

      <wsdl:part element="impl:sayHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="eatResponse">

      <wsdl:part element="impl:eatResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayNoResponse">

      <wsdl:part element="impl:sayNoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="eatRequest">

      <wsdl:part element="impl:eat" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Waiter">

      <wsdl:operation name="sayHello">

         <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayNo">

         <wsdl:input message="impl:sayNoRequest" name="sayNoRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayNoResponse" name="sayNoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="eat">

         <wsdl:input message="impl:eatRequest" name="eatRequest">

       </wsdl:input>

         <wsdl:output message="impl:eatResponse" name="eatResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WaiterSoapBinding" type="impl:Waiter">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sayHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayNo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayNoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayNoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="eat">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="eatRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="eatResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WaiterService">

      <wsdl:port binding="impl:WaiterSoapBinding" name="Waiter">

         <wsdlsoap:address location="http://localhost:9090/AxisServerDemo/services/Waiter"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
